name: goreleaser

on:
  push:
    tags:
    - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Set Up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.25.6"
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v7
      with:
        version: "~> 2"
        args: release --clean
      env:
        GOPATH: /home/runner/work/
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
